/**
 * @file
 * Block Styling
 */

.block /* Block wrapper */
{
    margin-bottom: 1.5em;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.block .content {
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 10px;
}

.block.first /* The first block in the region */
{
}

.block.last /* The last block in the region */
{
}

.block.odd /* Zebra striping for each block in the region */
{
}

.block.even /* Zebra striping for each block in the region */
{
}

h2.block-title /* Block title */
{
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */
{
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */
{
}

#block-block-1 /* First block created with "Add block" link */
{
}

#block-blog-recent /* "Recent blog posts" block */
{
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */
{
}

#block-comment-recent /* "Recent comments" block */
{
}

#block-forum-active /* "Active forum topics" block */
{
}

#block-forum-new /* "New forum topics" block */
{
}

#block-locale-language /* Language switcher block */
{
}

#block-menu-menu-NAME /* Custom menu block  */
{
}

#block-node-recent /* "Recent content" block */
{
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
{
}

#block-poll-recent /* "Most recent poll" block */
{
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */
{
}

#block-search-form /* "Search form" block */
{
}

#block-search-form .content {
    background-color: transparent;
    border: medium none;
    padding: 0;
    overflow: hidden;
    height: 27px;
    width: 220px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#block-shortcut-shortcuts /* "Shortcuts" block */
{
}

#block-statistics-popular /* "Popular content" block */
{
}

#block-system-main-menu /* "Main menu" block */
{
}

#block-system-management /* "Management" block for Drupal management menu */
{
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */
{
}

#block-system-user-menu /* "User menu" block for Drupal user menu */
{
}

#block-system-help /* "System help" block */
{
}

#block-system-main /* "Main page content" block */
{
}

#block-system-powered-by /* "Powered by Drupal" block */
{
}

#block-user-login /* "User login form" block */
{
}

#block-user-new /* "Who's new" block for a list of the newest users */
{
}

#block-user-online /* "Who's online" block for a list of the online users */
{
}

.block .block-title {
    background: url("../images/blockHeader.png") no-repeat scroll right top #159326;
    color: #FFFFFF;
    font-size: 13px;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

.block .block-title a {
    text-decoration: none;
    color: #fff;
}

#content .block .block-title {
    background: url("../images/contentBlockHeader.png") no-repeat scroll right top #159326;

}

#block-views-articles-block,
#block-views-treatment-block {
    float: left;
    margin-top: -225px;
    width: 318px;
}

.chrome #block-views-articles-block,
.chrome #block-views-treatment-block,
.safari #block-views-articles-block,
.safari #block-views-treatment-block
{
    margin-top: -221px;
}

.ie7 #block-views-articles-block,
.ie7 #block-views-treatment-block
{
    margin-top: -259px;
}

#block-views-articles-block
{
    margin-right: 10px;

}

#block-block-8 .content {
    height: 143px;
}

#block-block-9 .content {
    height: 84px;
}

#block-block-8 .content,
#block-block-9 .content {
    background-color: transparent;
    padding: 0;
}

#block-block-8  .content {
    background: url("../images/bgBlockCatalogV2.png") no-repeat scroll center top transparent;
}

#block-block-9  .content {
    background: url("../images/bgBlockTableSizesV2.png") no-repeat scroll center -29px transparent;
}

#block-block-8 .more-link {
    margin-top: 104px;
}

#block-block-9 .more-link {
    margin-top: 48px;
}

.block ul, .block ol, .block p {
    margin-top: 0;
}

#block-block-2,
#block-block-6 {
    width: 50%;
}

#block-block-2 {
    float: left;
    text-align: left;
}

#block-block-6 {
    float: right;
    text-align: right;
}

#block-block-7.block {
    clear: both;
    width: 920px;
    height: 322px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#block-block-7 .content {
    background-color: transparent;
    border: medium none;
    overflow: hidden;
    padding: 0;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#block-block-7 .sloganSursil {
    background: url("../images/frontSlogan.png") repeat-x scroll center top transparent;
    height: 322px;
    width: 920px;
}

#block-block-3 .content {
    text-align: justify;
    height: 266px;
}

#block-block-3 .more-link {
    bottom: -24px;
    position: relative;
}

#block-block-8 .more-link,
{
    margin-right: 10px;
}

#block-views-news-block .item-list li.views-row {
    border-bottom: none;
    margin-bottom: 0;
}

#block-views-news-block .views-field-title a {
    font-weight: normal;
}