/**
 * @file
 * Block Styling
 */

.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -o-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e8);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  box-shadow: 30px 45px 60px -60px #000000;
  padding-bottom: 1em;
}

.block.first {
  /* The first block in the region */
}

.block.last {
  /* The last block in the region */
}

.block.odd {
  /* Zebra striping for each block in the region */
}

.block.even {
  /* Zebra striping for each block in the region */
}

h2.block-title {
  /* Block title */
  font-size: 1.2em;
  padding: 0 10px;
  text-align: center;
  background: url("../images/blockHeaderBg.png") repeat-x scroll left top transparent;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  box-shadow: 0 45px 60px -60px #AAAAAA;
}

#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

#block-block-1 {
  /* First block created with "Add block" link */
}

#block-blog-recent {
  /* "Recent blog posts" block */
}

#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent {
  /* "Recent comments" block */
}

#block-forum-active {
  /* "Active forum topics" block */
}

#block-forum-new {
  /* "New forum topics" block */
}

#block-locale-language {
  /* Language switcher block */
}

#block-menu-menu-NAME {
  /* Custom menu block */
}

#block-node-recent {
  /* "Recent content" block */
}

#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent {
  /* "Most recent poll" block */

}

#block-poll-recent .poll {
  padding: 0px 5px 0px 5px;
}

#block-poll-recent .poll .title {
  font-weight: bold;
  margin: .5em 0;
}

#block-poll-recent .poll .total {
  /*font-size: 11px;*/
}

#block-poll-recent .links .links li {
  font-size: 10px;
}

#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

#block-search-form {
  /* "Search form" block */
}

#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

#block-statistics-popular {
  /* "Popular content" block */
}

#block-system-main-menu {
  /* "Main menu" block */
}

#block-system-management {
  /* "Management" block for Drupal management menu */
}

#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

#block-system-help {
  /* "System help" block */
}

#block-system-main {
  /* "Main page content" block */
}

#block-system-powered-by {
  /* "Powered by Drupal" block */
}

#block-user-login {
  /* "User login form" block */
}

#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

#block-user-online {
  /* "Who's online" block for a list of the online users */
}

#block-menu-menu-other-info,
#block-block-1,
#block-system-help {
  background: none transparent;
  border-radius: 0;
  box-shadow: none;
}

.region-sidebar-second .block .view-content,
.region-sidebar-second .block .more-link {
  padding-left: 10px;
  width: 174px;
}

#block-views-news-block .views-field-title a {
  color: #5f6060;
  font-size: 14px;
  font-weight: bold;
}

#block-faq-ask-unanswered p {
  padding-left: 1em;
}

#block-faq-ask-unanswered .block-title {
  font-size: 10px;
}

#block-block-2 {
  padding: .5em 1em;
}

#block-block-2 a.facebook {
  background: url("../images/facebook_icon.gif") no-repeat scroll left top transparent;
  display: block;
  height: 32px;
  margin-bottom: .5em;
  padding-left: 40px;
}
