/**
 * @file
 * Field Styling
 */

.field {
  /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
  margin-bottom: .5em;
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime {
  /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

/*
 * Named fields
 */

.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

#webform-client-form-65 label {
  float: left;
  width: 100px;
}

#webform-client-form-65 #webform-component-description label {
  float: none;
  width: auto;
}

#webform-client-form-65 .form-actions {
  text-align: center;
}

#webform-client-form-65 #edit-submit {
  background: url("../images/buttonBg.png") repeat-x scroll left top transparent;
  border: 1px solid #8B8B8B;
  color: #272727;
  height: 39px;
  line-height: 43px;
  padding: 0;
  text-decoration: none;
  text-shadow: -1px -1px #a0a0a0;
  white-space: nowrap;
  width: 300px;
  /*box-shadow: 0 45px 60px -60px #AAAAAA;*/
}

.node .field-item
{
  margin-bottom: 1em;
}

.node.view-mode-full .field-name-field-images .field-item {
  display: inline;
  height: 245px;
  margin-right: 30px;
  width: 220px;
}

.node.node-teaser .field-name-field-images .field-item
{
  display: inline;
  height: 245px;
  margin-right: 30px;
  width: 220px;
}

.node.node-teaser .field-name-field-files .field-item,
.node.node-teaser .field-name-field-files .field-item .file-video
{
  /*display: inline;*/
  /*height: 245px;*/
  /*margin-right: 30px;*/
  /*width: 220px;*/
}

.field-name-field-resume.field-type-text-long {
    border-left: 10px double #CCCCCC;
    color: #555555;
    padding-left: 1em;
    text-align: justify;
}

.field-name-field-taxonomy .field-item {
  display: inline;
  margin-right: 1em;
}

.node-case .field-name-body {
  /*background-color: #e3e6e8;*/
  /*background-color: #f0f2f3;*/
  background-color: #ffffff;
  border: 1px solid #9aa0a5;
  padding: 1em;
  margin-bottom: 1em;
}
