/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */

body {
  background-color: #39454f;
}

#page {
  box-shadow: 0 45px 60px -60px #000000;
}

#header {
  background: url("../images/header.png") no-repeat scroll left top transparent;
  height: 145px;
  width: 980px;
}

#main {
  background: url("../images/bg.png") repeat #465562;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

}

#content {
  background: url("../images/bg.png") repeat #465562;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -o-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: linear-gradient(to bottom, #f7f7f7, #e8e8e8);
  box-shadow: 30px 45px 60px -60px #000000;
}

#footer {
}
