/**
 * @file
 * Views Styling
 */

.page-news.page-views .views-row,
.page-new-cases.page-views .views-row {
  border-bottom: 2px dotted #2A2A2A;
  margin-bottom: 1em;
  min-height: 165px;
}

.page-news.page-views .views-row .views-field-title,
.page-new-cases.page-views .views-row .views-field-title {
  text-align: center;
}

.page-news.page-views .views-row .views-field-title a,
.page-new-cases.page-views .views-row .views-field-title a {
  color: #272727;
  font-size: 18px;
  text-decoration: none;
}

.page-news.page-views .views-row .views-field-field-article-image,
.page-new-cases.page-views .views-row .views-field-field-images {
  float: left;
  margin-right: 5px;
  width: 175px;
}

.page-news.page-views .views-row .views-field-created,
.page-new-cases.page-views .views-row .views-field-created {
  color: #1482cf;
  font-size: 11px;
  font-weight: bold;
}

.page-news.page-views .views-row .views-field-body,
.page-new-cases.page-views .views-row .views-field-body {
  margin-left: 180px;
}

.page-news.page-views .views-row .views-field-body p,
.page-new-cases.page-views .views-row .views-field-body p {
  margin-top: 0;
}

.view-cases-categories .item-list h3 {
  background: url("/sites/all/themes/steve1/images/iconFolder.png") no-repeat scroll 0 0 transparent;
  color: #272727;
  font-size: 14px;
  font-weight: bold;
  height: 41px;
  line-height: 35px;
  padding-left: 45px;
}

.view-cases-categories .views-row
{
  background: url("/sites/all/themes/steve1/images/iconNode.png") no-repeat scroll 0 0 transparent;
  list-style: none outside none;
  margin-bottom: 1em;
  padding-left: 45px;
}


.view-cases-categories .views-field-title a {
  color: #272727;
  font-size: 14px;
  font-weight: bold;
}

.view-cases-categories .views-field-field-files {
  display: none;
}

.view-cases-categories .views-field-body {
  color: #494949;
  font-size: 12px;
}

