/**
 * @file
 * Views Styling
 */

.page-news.page-views .views-row,
.page-new-cases.page-views .views-row {
    border-bottom: 2px dotted #2A2A2A;
    clear: both;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}

.page-news.page-views .views-row .views-field-title/*,
.page-new-cases.page-views .views-row .views-field-title*/ {
  text-align: center;
}

.page-news.page-views .views-row .views-field-title a,
.page-new-cases.page-views .views-row .views-field-title a {
  color: #1482CF;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.page-news.page-views .views-row .views-field-field-article-image,
.page-new-cases.page-views .views-row .views-field-field-images {
  float: left;
  margin-right: 5px;
  width: 175px;
}

.page-news.page-views .views-row .views-field-created,
.page-new-cases.page-views .views-row .views-field-created {
  color: #646464;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  /*float: right;*/
}

.page-news.page-views .views-row .views-field-body,
.page-new-cases.page-views .views-row .views-field-body,
.page-new-cases.page-views .views-row .views-field-field-resume
{
  /*margin-left: 180px;*/
  margin-bottom: .5em;
  text-align: justify;
}

.page-news.page-views .views-row .views-field-body p,
.page-new-cases.page-views .views-row .views-field-body p {
  margin-top: 0;
}

.view-cases-categories .view-header .view-subcategories {
  margin-bottom: 1.5em;
}

.view-header .view-subcategories li.views-row
{
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}

.view-cases-categories .item-list h3,
.view-cases-categories .view-header .view-subcategories .views-field-name a
{
    background: url("/sites/all/themes/steve1/images/iconFolder.png") no-repeat scroll 0 0 transparent;
    color: #272727;
    display: block;
    font-size: 14px;
    font-weight: bold;
    min-height: 41px;
    line-height: 35px;
    margin-right: 5px;
    padding-left: 45px;
    /*text-transform: uppercase;*/
}

.view-cases-categories .views-row
{
  background: url("/sites/all/themes/steve1/images/iconNode.png") no-repeat scroll 0 0 transparent;
  list-style: none outside none;
  margin-bottom: 1em;
  padding-left: 45px;
  min-height: 4em;
}

.view-cases-categories .view-category-description .views-row
{
  background: none transparent;
  margin-bottom: 1em;
  padding: 0;
  text-align: justify;
}


.view-cases-categories .views-field-title a {
  color: /*#626200*/ #1482CF;
  font-size: 14px;
  font-weight: bold;
}

.view-cases-categories .views-field-field-files {
  display: none;
}

.view-cases-categories .views-field-body {
  color: #494949;
  font-size: 12px;
}

.view-news .views-field-field-taxonomy {
  float: right;
}

.view-cases-categories .view-header .view-subcategories .views-field-name a:hover,
.view-cases-categories .views-field-title a:hover,
.page-news.page-views .views-row .views-field-title a:hover,
.page-new-cases.page-views .views-row .views-field-title a:hover
{
    color: #2219B2;
    text-decoration: none;
}